<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <object
      type="text/html"
      data="/.netlify/functions/server"
      style="width:100%;height:100%;"
    >
  </body>
</html>
